//
// Layout Config
//

// Root Font Sizes
$root-font-size:                                    13px; // Root font size for desktop mode
$root-font-size-lg:                             	12px; // Root font size for tablet mode
$root-font-size-md:                             	12px; // Root font size for mobile mode

// Page Body
$page-bg:	 										$gray-100 !default;

// Aside
$aside-config: (
	// Aside Config
	base: (
		width: 100px, // Aside's primary panel's width for desktop mode(see "aside-primary" class)
		shadow: none, // Aside's box shadow
		bg-color: #181C32,  // Aside's background color
		zindex: 98  // Aside's z-index property
	),

	// Aside's Offcanvas Config(see mixin: src/sass/components/mixins/_offcanvas.scss)
	offcanvas-mobile: (
		width: 80px,
		zindex: 1001,
		shadow: 0px 1px 9px -3px rgba(0,0,0,0.75),
		overlay-bg-color: rgba(#000000, 0.1)
	)
) !default;

// Aside Offcanvas
$aside-offcanvas-config: (
	width: 275px,
	zindex: 1001,
	bg-color: $white,
	shadow: 0px 1px 9px -3px rgba(0,0,0, 0.75),
	overlay-bg-color: rgba(#000000, 0.1),
	scrollbar-width: 4px
) !default;

// Aside Offcanvas Menu
$aside-offcanvas-menu-config: (
	// Base parameters required to build the base menu(see mixin: src/sass/components/mixins/_menu-vertical.scss)
	base:	(
		class: aside-offcanvas-menu, // Menu element class name
		parent-class: aside-offcanvas, // Menu parent aside element class name
		mode: general, // Menu responsive mode: general or tablet-and-mobile
	),

	// Customize
	build: (
		// layout
		layout: (
			// Default Mode
			default: (
				// Container
				self: (
					padding: 15px 0
				),

				// Item
				item: (
					// Item
					self: (
						margin:	0
					),

					// Link
					link: (
						// Link
						self: (
							height: 44px,
							padding: 9px 25px
						),

						// Icon
						icon:	(
							width: 35px,
							svg-width: 23px,
							font-size: 1.3rem
						),

						// Bullet
						bullet:	(
							self: (
								width: 15px,
							),

							dot: (
								size: 4px
							),

							line: (
								width: 5px,
								height: 1px
							)
						),

						// Text
						text:	(
							font-size: 1rem,
							font-weight: 500,
							font-transform:	initial
						),

						// Arrow
						arrow:	(
							width: 20px,
							transition: all 0.3s ease,
							font-size: 0.6rem
						),

						// Label
						label:	(
							padding: 0px 0px 0px 5px
						)
					),

					// Submenu
					submenu: (
						// Submenu
						self: (
							indent: 15px,
							margin:	0
						),

						// Item
						item: (
							// Item
							self: (
								margin:	0
							),

							// Link
							link: (
								// Link
								self: (
									height: 40px,
									padding: 0 25px,
									padding-x: 25px
								),

								// Icon
								icon:	(
									width: 35px,
									svg-width: 24px,
									font-size: 1.3rem
								),

								// Bullet
								bullet:	(
									self: (
										width: 15px,
									),

									dot: (
										size: 4px
									),

									line: (
										width: 5px,
										height: 1px
									)
								),

								// Text
								text:	(
									font-size: 1rem,
									font-weight: 400,
									font-transform:	initial
								),

								// Arrow
								arrow:	(
									width: 20px,
									transition: all 0.3s ease,
									font-size: 0.6rem
								),

								// Label
								label:	(
									padding: 0px 0px 0px 5px
								)
							)
						),

						// Section
						section: (
							self: (
								indent: 15px,
								padding: 0 25px,
								margin: 20px 0 0 0,
								height: 40px
							),

							text: (
								font-size: 0.8rem,
								font-weight: 300,
								font-transform: uppercase,
								letter-spacing: 0.3px
							),

							icon: (
								font-size: 1.1rem
							)
						),

						// Separator
						separator: (
							margin: 15px 0
						)
					)
				),

				// Section
				section: (
					self: (
						padding: 0 25px,
						margin: 20px 0 0 0,
						height: 40px
					),

					text: (
						font-size: 0.9rem,
						font-weight: 500,
						font-transform: uppercase,
						letter-spacing: 0.3px
					),

					icon: (
						font-size: 1.1rem
					)
				),

				// Separator
				separator: (
					margin: 15px 0,
				)
			)
		),

		// Theme
		theme: (
			// Default Mode
		    default: (
		        // Dropdown
		        self: (
		            bg-color: $white
		        ),

		        // Item
		        item: (
		            // Item
		            self: (
		                bg-color: (
		                    default: null,
		                    open: null,
		                    here: null,
		                    active: null,
		                    hover: null
		                )
		            ),

		            // Link
		            link: (
		                // Link
		                self: (
		                    bg-color: (
		                        default: null,
		                        open: $gray-100,
		                        here: $gray-100,
		                        active: $gray-100,
		                        hover: $gray-100
		                    )
		                ),

		                // Icon
		                icon: (
		                    font-color:	(
		                        default: $text-muted,
		                        open: $primary,
		                        here: $primary,
		                        active: $primary,
		                        hover: $primary
		                    ),
		                ),

		                // Bullet
		                bullet:	(
		                    dot: (
		                        bg-color: (
		                            default: $text-muted,
		                            open: $primary,
		                            here: $primary,
		                            active: $primary,
		                            hover: $primary
		                        )
		                    ),

		                    line: (
		                        bg-color: (
		                            default: $text-muted,
		                            open: $primary,
		                            here: $primary,
		                            active: $primary,
		                            hover: $primary
		                        )
		                    )
		                ),

		                // Text
		                text:	(
		                    font-color:	(
		                        default: $dark-75,
		                        open: $primary,
		                        here: $primary,
		                        active: $primary,
		                        hover: $primary
		                    )
		                ),

		                // Arrow
		                arrow:	(
		                    font-color:	(
		                        default: $text-muted,
		                        open: $primary,
		                        here: $primary,
		                        active: $primary,
		                        hover: $primary
		                    )
		                )
		            ),

		            // Submenu
		            submenu: (
		                // Submenu
		                self: (
		                    bg-color: (
		                        default: null,
		                        open: null,
		                        active: null,
		                        hover: null
		                    )
		                ),

		                // Item
		                item: (
		                    // Item
		                    self: (
		                        bg-color: (
		                            default: null,
		                            open: null,
		                            here: null,
		                            active: null,
		                            hover: null
		                        )
		                    ),

		                    // Link
		                    link: (
		                        // Link
		                        self: (
		                            bg-color: (
		                                default: null,
		                                open: $gray-100,
		                                here: $gray-100,
		                                active: $gray-100,
		                                hover: $gray-100
		                            )
		                        ),

		                        // Icon
		                        icon:	(
		                            font-color:	(
		                                default: $text-muted,
		                                open: $primary,
		                                active: $primary,
		                                hover: $primary
		                            )
		                        ),

								// Bullet
		                        bullet:	(
		                            dot: (
		                                bg-color: (
		                                    default: $text-muted,
		                                    open: $primary,
		                                    here: $primary,
		                                    active: $primary,
		                                    hover: $primary
		                                )
		                            ),

		                            line: (
		                                bg-color: (
		                                    default: $text-muted,
		                                    open: $primary,
		                                    here: $primary,
		                                    active: $primary,
		                                    hover: $primary
		                                )
		                            )
		                        ),

		                        // Text
		                        text: (
		                            font-color:	(
		                                default: $dark-75,
		                                open: $primary,
		                                active: $primary,
		                                hover: $primary
		                            )
		                        ),

		                        // Arrow
		                        arrow:	(
		                            font-color:	(
		                                default: $text-muted,
		                                open: $primary,
		                                active: $primary,
		                                hover: $primary
		                            )
		                        )
		                    )
		                ),

		                // Section
		                section: (
		                    text: (
		                        font-color: $dark-50
		                    ),

		                    icon: (
		                        font-color: $text-muted
		                    )
		                ),

		                // Separator
		                separator: (
		                    border: 1px solid $gray-200
		                )
		            )
		        ),

		        // Section
		        section: (
		            text: (
		                font-color: $dark-50
		            ),
		            icon: (
		                font-color: $text-muted
		            )
		        ),

		        // Separator
		        separator: (
		            border: 1px solid $gray-200
		        )
		    )
		)
	)
) !default;

// Sidebar
$sidebar-config: (
	// Offcanvas config(see mixin: src/sass/components/mixins/_offcanvas.scss)
	desktop: (
		width: 400px,
		zindex: get($sticky-toolbar-config, z-index) - 1,
		transition: 0.3s ease
	),

	// Offcanvas config(see mixin: src/sass/components/mixins/_offcanvas.scss)
	offcanvas-mobile: (
		width: 350px,
		zindex: 100,
		shadow: 0px 1px 9px -3px rgba(0,0,0,0.75),
		overlay-bg-color: rgba(#000000, 0.1)
	)
) !default;

// Subheader
$subheader-config: (
	// Default Mode
	default: (
		bg-color: $white,
		border-color: $gray-200,
	),
	// Fixed Subheader Mode
	fixed: (
		height: 54px,
		shadow: 0px 10px 30px 0px rgba(82,63,105,0.08),
		zindex: 95
	)
) !default;

// Header
$header-config: (
	// Tablet & Mobile Modes
	tablet-and-mobile: (
		// Default Mode
		default: (
			height: 55px,
			bg-color: get($aside-config, base, bg-color),
			shadow: 0px 1px 9px -3px rgba(0,0,0, 0.1),
		),

		// Fixed Mode
		fixed: (
			zindex: 97,
			height: 55px
		)
	)
) !default;

// Content
$content-config: (
	spacing: (
		desktop: 40px, // Padding for desktop mode
		tablet-and-mobile: 20px // Padding for tablet and mobile modes
	)
) !default;
